*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header-start */

header{
  display: grid;
    position: relative;
    grid-template-columns: 1fr 3fr 1fr;
}
.header-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
   
  
    
    
}

.header-left img{
   height: 25px;
   width: auto;
   margin-left: 20px;
}


.searchbar{
   height: 100%;
   width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.searchbar input{
    height:15%;
    width: 90%;
    border-radius: 30px 0 0 30px;
    padding: 20px;
    outline: 0;
    border: 1px solid rgb(180, 161, 161);
    border-right: 0;
    font-size: 1rem;

}
.searchbar .lgo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height:100%;
    width: 90%;
    padding: 0 15px;    
  
}
.searchbar  img{
    cursor: pointer;
    padding: 10px;
    border-radius: 100px;
    background-color: rgb(241, 241, 234);
}
.searchbar .lgo button{
    padding: 8px;
    border-radius: 0 30px 30px 0;
    display: flex;
    justify-content: center;
    padding-left: 15px;
    border: 1px solid rgb(180, 161, 161);
    cursor: pointer;
    outline: 0;
   


}
.searchbar .lgo button span{
    margin-right:15px;
    
}

header .icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    
   
    
}
header .icon img{
   height: 40px;
    padding: 7px;
  
    
}

/* header-end */

/* aside-start */

main{
    display: grid;
    grid-template-columns: 1fr 5fr;
    
    
}
aside{
   height: 500px;
   width: 200px;
   overflow-y: scroll;
   
   
  

}
aside a{
    color: black;

}
aside .catagoryes{
   margin-left: 15px;
   font-size: 17px;
   
   

   
}
aside span{
    margin-top: 20px;
    cursor: pointer;
}
aside .catagory{
    display: flex;
    align-items: center;
   gap: 20px;
}


/* aside-end */


/* card-start */

.card-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 50px 10px;
    
}
.card-content .card img{
    height: 100%;
    width: 100%;
   
    
}
.headline{
    display: flex;
    align-items: center;

font-size: 20px;
}
.headline h4{
    margin-left: 20px;
    margin-bottom: 20px;
    
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}
.headline h4:hover{
    
    transition: .4s;
     background-color: black;
     color: white;
}

/* card-end */